.form{
    background-color:#2b3e50;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
  }